{% extends 'base.html.twig' %}

{% block title %}Ca index{% endblock %}

{% block body %}
    <h1>{{'Ca index' | trans}}</h1>

  <div class="row mx-0 my-3">
    {{ knp_pagination_filter(cas, {'ch.sn': 'Name'}) }}
    <div class="col-auto">
      <a class="btn btn-success" href="{{ path('ca_new') }}">{{'Create new' | trans}}</a>
      <button class="btn btn-danger" id="export">{{'export' | trans}}</button>
    </div>
  </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'child' | trans}}</th>
                <th>{{'clerk' | trans}}</th>
                <th>{{'weightGold' | trans}}</th>
                <th>{{'weightAttach' | trans}}</th>
                <th>{{'TotalWeight' | trans}}</th>
                <th>{{'craft' | trans}}</th>
                <th>{{'artisan' | trans}}</th>
                <th>{{ knp_pagination_sortable(cas, 'Date'|trans, 'c.date')}}</th>
                <th class="d-none">{{'wn' | trans}}</th>
                <th class="d-none">{{'countPiece' | trans}}</th>
                <th class="d-none">{{'Size' | trans}}</th>
                <th class="d-none">{{'GoldClass' | trans}}</th>
                <th class="d-none">{{'Model' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for ca in cas %}
            <tr>
                <td>{{ ca.id }}</td>
                <td>{{ ca.child }}</td>
                <td>{{ ca.clerk }}</td>
                <td>{{ ca.weightGold }}</td>
                <td>{{ ca.weightAttach }}</td>
                <td>{{ ca.weight }}</td>
                <td>{{ ca.craft }}</td>
                <td>{{ ca.artisan }}</td>
                <td>{{ ca.date|date("Y-m-d H:i:s") }}</td>
                <td class="d-none">{{ ca.artisan.wn}}</td>
                <td class="d-none">{{ ca.child.countPiece}}</td>
                <td class="d-none">{{ ca.child.countPiece}}</td>
                <td class="d-none">{{ ca.child.size}}</td>
                <td class="d-none">{{ ca.child.goldClass}}</td>
                <td class="d-none">{{ ca.child.model}}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('ca_show', {'id': ca.id}) }}">{{'show' | trans}}</a>
                    {% if ca.status == 2 %}
                    <button class="btn btn-sm btn-success" disabled >工匠已收</button>
                    {% else %}
                    <button class="btn btn-sm btn-warning modal-btn" data-page="ca" data-toggle="modal" data-target="#caModal">工匠确认</button>

                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(cas) }}
</div>

<!-- Modal -->
<div class="modal fade" id="caModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">请拍卡确认</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

  <div class="form-group">
    <label for="inputAddress">单号</label>
    <input readonly type="text" class="form-control" id="sn">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">工匠</label>
      <input readonly type="text" class="form-control" id="artisan">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">工号</label>
      <input readonly type="text" class="form-control" id="wn">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">金重</label>
      <input readonly type="text" class="form-control" id="weight">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">附件重</label>
      <input readonly type="text" class="form-control" id="weightAttach">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">工艺</label>
      <input readonly type="text" class="form-control" id="craft">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">备注</label>
      <input readonly type="text" class="form-control" id="note">
    </div>
  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <a href="" class="btn btn-primary disabled" id="modal-confirm">确认</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts1 %}
<script src="/js/smartReader.js"></script>
<script src="/js/r.js"></script>
{% endblock %}
