{% extends 'base.html.twig' %}

{% block title %}Ca{% endblock %}

{% block body %}
    <h1>{{'Ca' | trans}}</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ ca.id }}</td>
            </tr>
            <tr>
                <th>{{'child' | trans}}</th>
                <td>{{ ca.child }}</td>
            </tr>
            <tr>
                <th>{{'clerk' | trans}}</th>
                <td>{{ ca.clerk }}</td>
            </tr>
            <tr>
                <th>{{'weightGold' | trans}}</th>
                <td>{{ ca.weightGold }}</td>
            </tr>
            <tr>
                <th>{{'weightAttach' | trans}}</th>
                <td>{{ ca.weightAttach }}</td>
            </tr>
            <tr>
                <th>{{'craft' | trans}}</th>
                <td>{{ ca.craft }}</td>
            </tr>
            <tr>
                <th>{{'artisan' | trans}}</th>
                <td>{{ ca.artisan }}</td>
            </tr>
            <tr>
                <th>{{'date' | trans}}</th>
                <td>{{ ca.date ? ca.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

<div class="row w-50 my-5">
    <button class="col-4 btn btn-success mr-3">计耗计工费</button>
    <button class="col-4 btn btn-warning">无耗无工费</button>
    </div>
<div class="row w-50">
    <a class="col-4 btn btn-primary mr-3" href="{{ path('ca_back') }}">{{'back to list' | trans}}</a>
    <a class="col-4 btn btn-success" href="{{ path('ca_confirm', {'id': ca.id}) }}">确认收单</a>
    </div>
{% endblock %}
