{% extends 'base.html.twig' %}

{% block title %}Ca{% endblock %}

{% block body %}
    <h1>{{'Ca' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ ca.id }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('ca_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('ca_edit', {'id': ca.id}) }}">{{'edit' | trans}}</a>

    {{ include('ca/_delete_form.html.twig') }}
{% endblock %}
