{% extends 'base.html.twig' %}

{% block title %}Factory{% endblock %}

{% block body %}
    <h1>{{'Factory' | trans}}</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ factory.id }}</td>
            </tr>
            <tr>
                <th>{{'Name' | trans}}</th>
                <td>{{ factory.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('factory_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('factory_edit', {'id': factory.id}) }}">{{'edit' | trans}}</a>

    {{ include('factory/_delete_form.html.twig') }}
{% endblock %}
