{% extends 'base.html.twig' %}

{% block title %}Edit Gca{% endblock %}

{% block body %}
    <h1>{{'Edit Gca' | trans}}</h1>

    {{ include('gca/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gca_index') }}">{{'back to list' | trans}}</a>

    {{ include('gca/_delete_form.html.twig') }}
{% endblock %}
