{% extends 'base.html.twig' %}

{% block title %}Gca index{% endblock %}

{% block body %}
    <h1>{{'Gca index' | trans}}</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'Date' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for gca in gcas %}
            <tr>
                <td>{{ gca.id }}</td>
                <td>{{ gca.date ? gca.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('gca_show', {'id': gca.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-warning" href="{{ path('gca_edit', {'id': gca.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('gca_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
