{% extends 'base.html.twig' %}

{% block title %}Gca{% endblock %}

{% block body %}
    <h1>{{'Gca' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ gca.id }}</td>
            </tr>
            <tr>
                <th>{{'team' | trans}}</th>
                <td>{{ gca.team }}</td>
            </tr>
            <tr>
                <th>{{'artisan' | trans}}</th>
                <td>{{ gca.artisan }}</td>
            </tr>
            <tr>
                <th>{{'goldclass' | trans}}</th>
                <td>{{ gca.goldclass }}</td>
            </tr>
            <tr>
                <th>{{'position' | trans}}</th>
                <td>{{ gca.position }}</td>
            </tr>
            <tr>
                <th>{{'weight' | trans}}</th>
                <td>{{ gca.weight }}</td>
            </tr>
            <tr>
                <th>{{'note' | trans}}</th>
                <td>{{ gca.note }}</td>
            </tr>
            <tr>
                <th>{{'Date' | trans}}</th>
                <td>{{ gca.date ? gca.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('gca_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('gca_edit', {'id': gca.id}) }}">{{'edit' | trans}}</a>

    {{ include('gca/_delete_form.html.twig') }}
{% endblock %}
