{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1>{{'Team' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>{{'Name' | trans}}</th>
                <td>{{ team.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('team_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('team_edit', {'id': team.id}) }}">{{'edit' | trans}}</a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
