{% extends 'base.html.twig' %}

{% block title %}Edit Gd{% endblock %}

{% block body %}
    <h1>{{'Edit Gd' | trans}}</h1>

    {{ include('gd/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gd_index') }}">{{'back to list' | trans}}</a>

    {{ include('gd/_delete_form.html.twig') }}
{% endblock %}
