{% extends 'base.html.twig' %}

{% block title %}Gb index{% endblock %}

{% block body %}
    <h1>{{'Gb index' | trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'Date' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for gb in gbs %}
            <tr>
                <td>{{ gb.id }}</td>
                <td>{{ gb.date ? gb.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('gb_show', {'id': gb.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-warning" href="{{ path('gb_edit', {'id': gb.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('gb_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
