{% extends 'base.html.twig' %}

{% block title %}Gb index{% endblock %}

{% block body %}
    <h1>{{'Gb index' | trans}}</h1>

  <div class="row mx-0 my-3">
    {{ knp_pagination_filter(gbs, {'m.sn': 'Name'}) }}
    <div class="col-auto">
      <a class="btn btn-success" href="{{ path('gb_new') }}">{{'Create new' | trans}}</a>
    </div>
  </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'company' | trans}}</th>
                <th>{{'goldclass' | trans}}</th>
                <th>{{'position' | trans}}</th>
                <th>{{'addtype' | trans}}</th>
                <th>{{'addreason' | trans}}</th>
                <th>{{'weight' | trans}}</th>
                <th>{{'weightBooked' | trans}}</th>
                <th>{{'short' | trans}}</th>
                <th>{{'note' | trans}}</th>
                <th>{{ knp_pagination_sortable(gbs, 'Date'|trans, 'g.date')}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for gb in gbs %}
            <tr>
                <td>{{ gb.id }}</td>
                <td>{{ gb.company }}</td>
                <td>{{ gb.goldclass }}</td>
                <td>{{ gb.position }}</td>
                <td>{{ gb.addtype }}</td>
                <td>{{ gb.addreason }}</td>
                <td>{{ gb.weight }}</td>
                <td>{{ gb.weightBooked }}</td>
                <td>{{ gb.short }}</td>
                <td>{{ gb.note }}</td>
                <td>{{ gb.date ? gb.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('gb_show', {'id': gb.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('gb_edit', {'id': gb.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(gbs) }}
</div>
{% endblock %}
