{% extends 'base.html.twig' %}

{% block title %}Gb{% endblock %}

{% block body %}
    <h1>{{'Gb' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ gb.id }}</td>
            </tr>
            <tr>
                <th>{{'Date' | trans}}</th>
                <td>{{ gb.date ? gb.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gb_index') }}">{{'back to list' | trans}}</a>

    <a href="{{ path('gb_edit', {'id': gb.id}) }}">{{'edit' | trans}}</a>

    {{ include('gb/_delete_form.html.twig') }}
{% endblock %}
