{% extends 'base.html.twig' %}

{% block title %}Edit Op{% endblock %}

{% block body %}
    <h1>{{'Edit Op' | trans}}</h1>

    {{ include('op/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('op_index') }}">{{'back to list' | trans}}</a>

    {{ include('op/_delete_form.html.twig') }}
{% endblock %}
