{% extends 'base.html.twig' %}

{% block title %}Edit Sgb{% endblock %}

{% block body %}
    <h1>{{'Edit Sgb' | trans}}</h1>

    {{ include('sgb/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('sgb_index') }}">{{'back to list' | trans}}</a>

    {{ include('sgb/_delete_form.html.twig') }}
{% endblock %}
