{% extends 'base.html.twig' %}

{% block title %}Sgb index{% endblock %}

{% block body %}
    <h1>{{'Sgb index' | trans}}</h1>

  <div class="row mx-0 my-3">
    {{ knp_pagination_filter(sgbs, {'s.sn': 'Name'}) }}
    <div class="col-auto">
      <a class="btn btn-success" href="{{ path('sgb_new') }}">{{'Create new' | trans}}</a>
      <button class="btn btn-danger" id="export">{{'export' | trans}}</button>
    </div>
  </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{ 'Id' | trans}}</th>
                <th>{{ 'company' | trans}}</th>
                <th>{{ 'goldclass' | trans}}</th>
                <th>{{ 'position' | trans}}</th>
                <th>{{ 'subtracttype' | trans}}</th>
                <th>{{ 'subtractreason' | trans}}</th>
                <th>{{ 'Weight' | trans}}</th>
                <th>{{'weightBooked' | trans}}</th>
                <th>{{'short' | trans}}</th>
                <th>{{ 'Note' | trans}}</th>
                <th>{{ knp_pagination_sortable(sgbs, 'Date'|trans, 's.date')}}</th>
                <th>{{ 'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for sgb in sgbs %}
            <tr>
                <td>{{ sgb.id }}</td>
                <td>{{ sgb.company }}</td>
                <td>{{ sgb.goldclass }}</td>
                <td>{{ sgb.position }}</td>
                <td>{{ sgb.subtracttype }}</td>
                <td>{{ sgb.subtractreason }}</td>
                <td>{{ sgb.weight }}</td>
                <td>{{ sgb.weightBooked }}</td>
                <td>{{ sgb.short }}</td>
                <td>{{ sgb.note }}</td>
                <td>{{ sgb.date ? sgb.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('sgb_show', {'id': sgb.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('sgb_edit', {'id': sgb.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(sgbs) }}
</div>
{% endblock %}
