{% extends 'base.html.twig' %}

{% block title %}Sgb{% endblock %}

{% block body %}
    <h1>Sgb</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sgb.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ sgb.date ? sgb.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ sgb.weight }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ sgb.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sgb_index') }}">back to list</a>

    <a href="{{ path('sgb_edit', {'id': sgb.id}) }}">edit</a>

    {{ include('sgb/_delete_form.html.twig') }}
{% endblock %}
