{% extends 'base.html.twig' %}

{% block title %}Ac index{% endblock %}

{% block body %}
    <h1>{{'Ac index' | trans}}</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'maindoc' | trans}}</th>
                <th>{{'weightGold' | trans}}</th>
                <th>{{'weightAttach' | trans}}</th>
                <th>{{'weight' | trans}}</th>
                <th>{{'craft' | trans}}</th>
                <th>{{'artisan' | trans}}</th>
                <th>{{'date' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for ac in acs %}
            <tr>
                <td>{{ ac.id }}</td>
                <td>{{ ac.maindoc }}</td>
                <td>{{ ac.weightGold }}</td>
                <td>{{ ac.weightAttach }}</td>
                <td>{{ ac.weight }}</td>
                <td>{{ ac.craft }}</td>
                <td>{{ ac.artisan }}</td>
                <td>{{ ac.date|date("Y-m-d") }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('ac_show', {'id': ac.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-warning" href="{{ path('ac_edit', {'id': ac.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('ac_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
