{% extends 'base.html.twig' %}

{% block title %}Main index{% endblock %}

{% block body %}
    <h1>Main index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Sn</th>
                <th>Date</th>
                <th>Name</th>
                <th>CountChild</th>
                <th>PerWeight</th>
                <th>TotalWeight</th>
                <th>UpstreamDoc</th>
                <th>Length</th>
                <th>Width</th>
                <th>Height</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for main in mains %}
            <tr>
                <td>{{ main.sn }}</td>
                <td>{{ main.date ? main.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ main.name }}</td>
                <td>{{ main.countChild }}</td>
                <td>{{ main.perWeight }}</td>
                <td>{{ main.totalWeight }}</td>
                <td>{{ main.upstreamDoc }}</td>
                <td>{{ main.length }}</td>
                <td>{{ main.width }}</td>
                <td>{{ main.height }}</td>
                <td>{{ main.note }}</td>
                <td>
                    <a href="{{ path('main_show', {'id': main.id}) }}">show</a>
                    <a href="{{ path('main_edit', {'id': main.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('main_new') }}">Create new</a>
{% endblock %}
