{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}
    <h1>{{'Main' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ main.id }}</td>
            </tr>
            <tr>
                <th>{{'Date' | trans}}</th>
                <td>{{ main.date ? main.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{'Name' | trans}}</th>
                <td>{{ main.name }}</td>
            </tr>
            <tr>
                <th>{{'CountChild' | trans}}</th>
                <td>{{ main.countChild }}</td>
            </tr>
            <tr>
                <th>{{'Sn' | trans}}</th>
                <td>{{ main.sn }}</td>
            </tr>
            <tr>
                <th>{{'Doctype' | trans}}</th>
                <td>{{ main.doctype }}</td>
            </tr>
            <tr>
                <th>{{'Prodtype' | trans}}</th>
                <td>{{ main.prodtype }}</td>
            </tr>
            <tr>
                <th>{{'Goldclass' | trans}}</th>
                <td>{{ main.goldclass }}</td>
            </tr>
            <tr>
                <th>{{'Cotype' | trans}}</th>
                <td>{{ main.cotype }}</td>
            </tr>
            <tr>
                <th>{{'Model' | trans}}</th>
                <td>{{ main.model }}</td>
            </tr>
            <tr>
                <th>{{'LossRate' | trans}}</th>
                <td>{{ main.lossRate}}</td>
            </tr>
            <tr>
                <th>{{'factory' | trans}}</th>
                <td>{{ main.factory}}</td>
            </tr>
            <tr>
                <th>{{'branch' | trans}}</th>
                <td>{{ main.branch}}</td>
            </tr>
            <tr>
                <th>{{'PerWeight' | trans}}</th>
                <td>{{ main.perWeight }}</td>
            </tr>
            <tr>
                <th>{{'TotalWeight' | trans}}</th>
                <td>{{ main.totalWeight }}</td>
            </tr>
            <tr>
                <th>{{'UpstreamDoc' | trans}}</th>
                <td>{{ main.upstreamDoc }}</td>
            </tr>
            <tr>
                <th>{{'Length' | trans}}</th>
                <td>{{ main.length }}</td>
            </tr>
            <tr>
                <th>{{'Width' | trans}}</th>
                <td>{{ main.width }}</td>
            </tr>
            <tr>
                <th>{{'Height' | trans}}</th>
                <td>{{ main.height }}</td>
            </tr>
            <tr>
                <th>{{'Note' | trans}}</th>
                <td>{{ main.note }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('main_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('main_edit', {'id': main.id}) }}">{{'edit' | trans}}</a>

    {{ include('main/_delete_form.html.twig') }}
{% endblock %}
