{% extends 'base.html.twig' %}

{% block title %}Edit Clerk{% endblock %}

{% block body %}
    <h1>{{'Edit Clerk' | trans}}</h1>

    {{ include('clerk/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('clerk_index') }}">{{'back to list' | trans}}</a>

    {{ include('clerk/_delete_form.html.twig') }}
{% endblock %}
