{% extends 'base.html.twig' %}

{% block title %}Clerk index{% endblock %}

{% block body %}
    <h1>Clerk index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clerk in clerks %}
            <tr>
                <td>{{ clerk.id }}</td>
                <td>{{ clerk.name }}</td>
                <td>
                    <a href="{{ path('clerk_show', {'id': clerk.id}) }}">show</a>
                    <a href="{{ path('clerk_edit', {'id': clerk.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('clerk_new') }}">Create new</a>
{% endblock %}
