{% extends 'base.html.twig' %}

{% block title %}Edit Stafftype{% endblock %}

{% block body %}
    <h1>{{'Edit Stafftype' | trans}}</h1>

    {{ include('stafftype/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('stafftype_index') }}">{{'back to list' | trans}}</a>

    {{ include('stafftype/_delete_form.html.twig') }}
{% endblock %}
