{% extends 'base.html.twig' %}

{% block title %}Stafftype{% endblock %}

{% block body %}
    <h1>{{'Stafftype' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ stafftype.id }}</td>
            </tr>
            <tr>
                <th>{{'Name' | trans}}</th>
                <td>{{ stafftype.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('stafftype_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('stafftype_edit', {'id': stafftype.id}) }}">{{'edit' | trans}}</a>

    {{ include('stafftype/_delete_form.html.twig') }}
{% endblock %}
