{% extends 'base.html.twig' %}

{% block title %}Edit Cgd{% endblock %}

{% block body %}
    <h1>{{'Edit Cgd' | trans}}</h1>

    {{ include('cgd/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('cgd_index') }}">{{'back to list' | trans}}</a>

    {{ include('cgd/_delete_form.html.twig') }}
{% endblock %}
