{% extends 'base.html.twig' %}

{% block title %}Cgd{% endblock %}

{% block body %}
    <h1>{{'Cgd' | trans}}</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ cgd.id }}</td>
            </tr>
            <tr>
                <th>{{'maindoc' | trans}}</th>
                <td>{{ cgd.maindoc }}</td>
            </tr>
            <tr>
                <th>{{'goldclass' | trans}}</th>
                <td>{{ cgd.goldclass }}</td>
            </tr>
            <tr>
                <th>{{'position' | trans}}</th>
                <td>{{ cgd.position }}</td>
            </tr>
            <tr>
                <th>{{'weight' | trans}}</th>
                <td>{{ cgd.weight }}</td>
            </tr>
            <tr>
                <th>{{'note' | trans}}</th>
                <td>{{ cgd.note }}</td>
            </tr>
            <tr>
                <th>{{'Date' | trans}}</th>
                <td>{{ cgd.date ? cgd.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('cgd_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('cgd_edit', {'id': cgd.id}) }}">{{'edit' | trans}}</a>

    {{ include('cgd/_delete_form.html.twig') }}
{% endblock %}
