{% extends 'base.html.twig' %}

{% block title %}Cgd{% endblock %}

{% block body %}
    <h1>{{'Cgd' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ cgd.id }}</td>
            </tr>
            <tr>
                <th>{{'Date' | trans}}</th>
                <td>{{ cgd.date ? cgd.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('cgd_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('cgd_edit', {'id': cgd.id}) }}">{{'edit' | trans}}</a>

    {{ include('cgd/_delete_form.html.twig') }}
{% endblock %}
