{% extends 'base.html.twig' %}

{% block title %}Granule index{% endblock %}

{% block body %}
    <h1>{{'Granule index' | trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'Name' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for granule in granules %}
            <tr>
                <td>{{ granule.id }}</td>
                <td>{{ granule.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('granule_show', {'id': granule.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-warning" href="{{ path('granule_edit', {'id': granule.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('granule_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
