{% extends 'base.html.twig' %}

{% block title %}Edit Child{% endblock %}

{% block body %}
    <h1>{{'Edit Child' | trans}}</h1>

    {{ include('child/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('child_index') }}">{{'back to list' | trans}}</a>

    {{ include('child/_delete_form.html.twig') }}
{% endblock %}
