{% extends 'base.html.twig' %}

{% block title %}Main index{% endblock %}

{% block body %}
    <h1>{{'Child index' | trans}}</h1>

  <div class="row mx-0 my-3">
    {{ knp_pagination_filter(children, {'c.sn': 'Name'}) }}
    <div class="col-auto">
      <a class="btn btn-success" href="{{ path('child_new') }}">{{'Create new' | trans}}</a>
    </div>
  </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(children, 'sn'|trans, 'c.sn')}}</th>
                <th>{{ knp_pagination_sortable(children, 'main'|trans, 'c.sn')}}</th>

                <th>{{'artisan' | trans}}</th>
                <th>{{'countPiece' | trans}}</th>
                <th>{{'goldclass' | trans}}</th>
                <th>{{'weight' | trans}}</th>
                <th>{{'box' | trans}}</th>
                <th>{{'note' | trans}}</th>
                <th>{{ knp_pagination_sortable(children, 'Date'|trans, 'c.date')}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for child in children %}
            <tr>
                <td>{{ child.sn }}</td>
                <td>{{ child.main }}</td>
                <td>{{ child.artisan }}</td>
                <td>{{ child.countPiece }}</td>
                <td>{{ child.goldclass }}</td>
                <td>{{ child.weight }}</td>
                <td>{{ child.box }}</td>
                <td>{{ child.note }}</td>
                <td>{{ child.date ? child.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('main_show', {'id': child.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('main_edit', {'id': child.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(children) }}
</div>
{% endblock %}
