{% extends 'base.html.twig' %}

{% block title %}Staff index{% endblock %}

{% block body %}
    <h1>{{'Staff index' | trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'Name' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in staff %}
            <tr>
                <td>{{ staff.id }}</td>
                <td>{{ staff.name }}</td>
                <td>
                    <a href="{{ path('staff_show', {'id': staff.id}) }}">{{'show' | trans}}</a>
                    <a href="{{ path('staff_edit', {'id': staff.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('staff_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
