{% extends 'base.html.twig' %}

{% block title %}Edit Attach{% endblock %}

{% block body %}
    <h1>{{'Edit Attach' | trans}}</h1>

    {{ include('attach/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('attach_index') }}">{{'back to list' | trans}}</a>

    {{ include('attach/_delete_form.html.twig') }}
{% endblock %}
