{% extends 'base.html.twig' %}

{% block title %}Attach index{% endblock %}

{% block body %}
    <h1>{{'Attach index' | trans}}</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'Name' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for attach in attaches %}
            <tr>
                <td>{{ attach.id }}</td>
                <td>{{ attach.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('attach_show', {'id': attach.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-warning" href="{{ path('attach_edit', {'id': attach.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('attach_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
