{% extends 'base.html.twig' %}

{% block title %}Attach{% endblock %}

{% block body %}
    <h1>{{'Attach' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ attach.id }}</td>
            </tr>
            <tr>
                <th>{{'Name' | trans}}</th>
                <td>{{ attach.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('attach_index') }}">{{'back to list' | trans}}</a>

    <a href="{{ path('attach_edit', {'id': attach.id}) }}">{{'edit' | trans}}</a>

    {{ include('attach/_delete_form.html.twig') }}
{% endblock %}
