{% extends 'base.html.twig' %}

{% block title %}Embed index{% endblock %}

{% block body %}
    <h1>{{'Embed index' | trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'Name' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for embed in embeds %}
            <tr>
                <td>{{ embed.id }}</td>
                <td>{{ embed.name }}</td>
                <td>
                    <a href="{{ path('embed_show', {'id': embed.id}) }}">{{'show' | trans}}</a>
                    <a href="{{ path('embed_edit', {'id': embed.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('embed_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
