{% extends 'base.html.twig' %}

{% block title %}{{ page|capitalize|trans }}{{ 'log'|trans }}{% endblock %}

{% block body %}
    <h1>{{ page|capitalize|trans }}{{ 'log'|trans }}</h1>

  <div class="row mx-0 my-3">
    {% if filters is defined %}
    {{ knp_pagination_filter(items, filters) }}
    {% else %}
    <div class="col"></div>
    {% endif %}
  </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                {% for col in columns %}
                {% if col.sort is defined %}
                <th>{{ knp_pagination_sortable(items, col.name|trans, col.sort)}}</th>
                {% else %}
                <th>{{ col.name|trans }}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                {% for col in columns %}
                {% if col.name == 'date' or col.name == 'dueDate' %}
                <td>{{ attribute(item, col.name) ? attribute(item, col.name)|date('Y-m-d H:i:s') : '' }}</td>
                {% else %}
                <td>{{ attribute(item, col.name) }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="13">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(items) }}
</div>
{% endblock %}
