{% extends 'base.html.twig' %}

{% block title %}{{ page|capitalize|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new'|trans }} {{ page|capitalize|trans }}</h1>

    {{ include('crud/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path("#{page}_index") }}">{{'back to list' | trans}}</a>
{% endblock %}
