{% extends 'base.html.twig' %}

{% block title %}{{ page|capitalize|trans }}{% endblock %}

{% block body %}
    <h1>{{'User' | trans}}</h1>

    <table class="table table-striped table-hover">
        <tbody>
            {% for field in fields %}
            <tr>
                <th>{{ field|capitalize|trans }}</th>
                <td>{{ attribute(item, field) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path("#{page}_index") }}">{{'back to list' | trans}}</a>

    <a class="btn btn-primary" href="{{ path("#{page}_edit", {'id': item.id}) }}">{{'edit' | trans}}</a>

    {{ include('crud/_delete_form.html.twig') }}
{% endblock %}
