{% extends 'base.html.twig' %}

{% block title %}Edit Wage{% endblock %}

{% block body %}
    <h1>{{'Edit Wage' | trans}}</h1>

    {{ include('wage/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('wage_index') }}">{{'back to list' | trans}}</a>

    {{ include('wage/_delete_form.html.twig') }}
{% endblock %}
