{% extends 'base.html.twig' %}

{% block title %}Wage index{% endblock %}

{% block body %}
    <h1>Wage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wage in wages %}
            <tr>
                <td>{{ wage.id }}</td>
                <td>{{ wage.name }}</td>
                <td>
                    <a href="{{ path('wage_show', {'id': wage.id}) }}">show</a>
                    <a href="{{ path('wage_edit', {'id': wage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wage_new') }}">Create new</a>
{% endblock %}
