{% extends 'base.html.twig' %}

{% block title %}Wage index{% endblock %}

{% block body %}
    <h1>{{'Wage index' | trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'Name' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for wage in wages %}
            <tr>
                <td>{{ wage.id }}</td>
                <td>{{ wage.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('wage_show', {'id': wage.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-warning" href="{{ path('wage_edit', {'id': wage.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('wage_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
