{% extends 'base.html.twig' %}

{% block title %}Gac index{% endblock %}

{% block body %}
    <h1>{{'Gac index' | trans}}</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'clerk' | trans}}</th>
                <th>{{'artisan' | trans}}</th>
                <th>{{'team' | trans}}</th>
                <th>{{'goldclass' | trans}}</th>
                <th>{{'position' | trans}}</th>
                <th>{{'weight' | trans}}</th>
                <th>{{'note' | trans}}</th>
                <th>{{'Date' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for gac in gacs %}
            <tr>
                <td>{{ gac.id }}</td>
                <td>{{ gac.clerk }}</td>
                <td>{{ gac.artisan }}</td>
                <td>{{ gac.team }}</td>
                <td>{{ gac.goldclass }}</td>
                <td>{{ gac.position }}</td>
                <td>{{ gac.weight }}</td>
                <td>{{ gac.note }}</td>
                <td>{{ gac.date ? gac.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('gac_show', {'id': gac.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-warning" href="{{ path('gac_edit', {'id': gac.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('gac_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
