{% extends 'base.html.twig' %}

{% block title %}Gac{% endblock %}

{% block body %}
    <h1>{{'Gac' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ gac.id }}</td>
            </tr>
            <tr>
                <th>{{'team' | trans}}</th>
                <td>{{ gac.team }}</td>
            </tr>
            <tr>
                <th>{{'artisan' | trans}}</th>
                <td>{{ gac.artisan }}</td>
            </tr>
            <tr>
                <th>{{'goldclass' | trans}}</th>
                <td>{{ gac.goldclass }}</td>
            </tr>
            <tr>
                <th>{{'position' | trans}}</th>
                <td>{{ gac.position }}</td>
            </tr>
            <tr>
                <th>{{'weight' | trans}}</th>
                <td>{{ gac.weight }}</td>
            </tr>
            <tr>
                <th>{{'note' | trans}}</th>
                <td>{{ gac.note }}</td>
            </tr>
            <tr>
                <th>{{'Date' | trans}}</th>
                <td>{{ gac.date ? gac.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('gac_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('gac_edit', {'id': gac.id}) }}">{{'edit' | trans}}</a>

    {{ include('gac/_delete_form.html.twig') }}
{% endblock %}
