{% extends 'base.html.twig' %}

{% block title %}Doctype index{% endblock %}

{% block body %}
    <h1>Doctype index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for doctype in doctypes %}
            <tr>
                <td>{{ doctype.id }}</td>
                <td>{{ doctype.name }}</td>
                <td>
                    <a href="{{ path('doctype_show', {'id': doctype.id}) }}">show</a>
                    <a href="{{ path('doctype_edit', {'id': doctype.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('doctype_new') }}">Create new</a>
{% endblock %}
