{% extends 'base.html.twig' %}

{% block title %}Doctype{% endblock %}

{% block body %}
    <h1>{{'Doctype' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ doctype.id }}</td>
            </tr>
            <tr>
                <th>{{'Name' | trans}}</th>
                <td>{{ doctype.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('doctype_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('doctype_edit', {'id': doctype.id}) }}">{{'edit' | trans}}</a>

    {{ include('doctype/_delete_form.html.twig') }}
{% endblock %}
