{% extends 'base.html.twig' %}

{% block title %}Edit Lossrate{% endblock %}

{% block body %}
    <h1>{{'Edit Lossrate' | trans}}</h1>

    {{ include('lossrate/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('lossrate_index') }}">{{'back to list' | trans}}</a>

    {{ include('lossrate/_delete_form.html.twig') }}
{% endblock %}
