{% extends 'base.html.twig' %}

{% block title %}Lossrate index{% endblock %}

{% block body %}
    <h1>{{'Lossrate index' | trans}}</h1>

  <div class="row mx-0 my-3">
  <div class="col">
  </div>
    <div class="col-auto">
      <a class="btn btn-success" href="{{ path('lossrate_new') }}">{{'Create new' | trans}}</a>
      <a class="mx-2 btn btn-success" href="{{ path('center_import') }}">{{'Import' | trans}}</a>
      <button class="btn btn-danger" id="export">{{'export' | trans}}</button>
    </div>
  </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'Name' | trans}}</th>
                <th>{{'Model' | trans}}</th>
                <th>{{'Craft' | trans}}</th>
                <th>{{'Rate' | trans}}</th>
                <th>{{'Note' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for lossrate in lossrates %}
            <tr>
                <td>{{ lossrate.id }}</td>
                <td>{{ lossrate.name }}</td>
                <td>{{ lossrate.model }}</td>
                <td>{{ lossrate.craft }}</td>
                <td>{{ lossrate.rate }}</td>
                <td>{{ lossrate.note }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('lossrate_show', {'id': lossrate.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-warning" href="{{ path('lossrate_edit', {'id': lossrate.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
