{% extends 'base.html.twig' %}

{% block title %}Lossrate index{% endblock %}

{% block body %}
    <h1>Lossrate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lossrate in lossrates %}
            <tr>
                <td>{{ lossrate.id }}</td>
                <td>{{ lossrate.rate }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('lossrate_show', {'id': lossrate.id}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('lossrate_edit', {'id': lossrate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('lossrate_new') }}">Create new</a>
{% endblock %}
