{% extends 'base.html.twig' %}

{% block title %}Lossrate{% endblock %}

{% block body %}
    <h1>{{'Lossrate' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ lossrate.id }}</td>
            </tr>
            <tr>
                <th>{{'Rate' | trans}}</th>
                <td>{{ lossrate.rate }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('lossrate_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-info" href="{{ path('lossrate_edit', {'id': lossrate.id}) }}">{{'edit' | trans}}</a>

    {{ include('lossrate/_delete_form.html.twig') }}
{% endblock %}
