{% extends 'base.html.twig' %}

{% block title %}Subtracttype index{% endblock %}

{% block body %}
    <h1>Subtracttype index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subtracttype in subtracttypes %}
            <tr>
                <td>{{ subtracttype.id }}</td>
                <td>{{ subtracttype.name }}</td>
                <td>
                    <a href="{{ path('subtracttype_show', {'id': subtracttype.id}) }}">show</a>
                    <a href="{{ path('subtracttype_edit', {'id': subtracttype.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('subtracttype_new') }}">Create new</a>
{% endblock %}
