{% extends 'base.html.twig' %}

{% block title %}Edit Goldclass{% endblock %}

{% block body %}
    <h1>{{'Edit Goldclass' | trans}}</h1>

    {{ include('goldclass/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('goldclass_index') }}">{{'back to list' | trans}}</a>

    {{ include('goldclass/_delete_form.html.twig') }}
{% endblock %}
