{% extends 'base.html.twig' %}

{% block title %}Goldclass{% endblock %}

{% block body %}
    <h1>{{'Goldclass' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ goldclass.id }}</td>
            </tr>
            <tr>
                <th>{{'Name' | trans}}</th>
                <td>{{ goldclass.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('goldclass_index') }}">{{'back to list' | trans}}</a>

    <a href="{{ path('goldclass_edit', {'id': goldclass.id}) }}">{{'edit' | trans}}</a>

    {{ include('goldclass/_delete_form.html.twig') }}
{% endblock %}
