{% extends 'base.html.twig' %}

{% block title %}Cc index{% endblock %}

{% block body %}
    <h1>{{'Cc index' | trans}}</h1>

  <div class="row mx-0 my-3">
    {{ knp_pagination_filter(ccs, {'u.username': 'Name'}) }}
  </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'team' | trans}}</th>
                <th>{{'sender' | trans}}</th>
                <th>{{'recipient' | trans}}</th>
                <th>{{'goldclass' | trans}}</th>
                <th>{{'position' | trans}}</th>
                <th>{{'weight' | trans}}</th>
                <th>{{'status' | trans}}</th>
                <th>{{ knp_pagination_sortable(ccs, 'Date'|trans, 'c.date')}}</th>
                <th>{{ knp_pagination_sortable(ccs, 'Date1'|trans, 'c.date1')}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for cc in ccs %}
            <tr>
                <td>{{ cc.id }}</td>
                <td>{{ cc.team }}</td>
                <td>{{ cc.sender }}</td>
                <td>{{ cc.recipient }}</td>
                <td>{{ cc.goldclass }}</td>
                <td>{{ cc.position }}</td>
                <td>{{ cc.weight }}</td>
                <td>{{ cc.status }}</td>
                <td>{{ cc.date ? cc.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cc.date1 ? cc.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                {% if cc.status == 2 %}
                    <a class="btn btn-warning disabled" href="{{ path('cc_confirm', {'id': cc.id}) }}">{{'confirmed' | trans}}</a>
                {% else %}
                    <a class="btn btn-warning" href="{{ path('cc_confirm', {'id': cc.id}) }}">{{'confirm' | trans}}</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(ccs) }}
</div>
{% endblock %}
