{% extends 'base.html.twig' %}

{% block title %}Cc{% endblock %}

{% block body %}
    <h1>{{'Cc' | trans}}</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ cc.id }}</td>
            </tr>
            <tr>
                <th>{{'team' | trans}}</th>
                <td>{{ cc.team }}</td>
            </tr>
            <tr>
                <th>{{'sender' | trans}}</th>
                <td>{{ cc.sender }}</td>
            </tr>
            <tr>
                <th>{{'recipient' | trans}}</th>
                <td>{{ cc.recipient }}</td>
            </tr>
            <tr>
                <th>{{'goldclass' | trans}}</th>
                <td>{{ cc.goldclass }}</td>
            </tr>
            <tr>
                <th>{{'position' | trans}}</th>
                <td>{{ cc.position }}</td>
            </tr>
            <tr>
                <th>{{'weight' | trans}}</th>
                <td>{{ cc.weight }}</td>
            </tr>
            <tr>
                <th>{{'status' | trans}}</th>
                <td>{{ cc.status }}</td>
            </tr>
            <tr>
                <th>{{'Date' | trans}}</th>
                <td>{{ cc.date ? cc.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{'Date1' | trans}}</th>
                <td>{{ cc.date1 ? cc.date1|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('cc_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('cc_edit', {'id': cc.id}) }}">{{'edit' | trans}}</a>

    {{ include('cc/_delete_form.html.twig') }}
{% endblock %}
