<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <link rel="apple-touch-icon" href="icon.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
        <link href="/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/plugins/chartist/css/chartist.min.css">
        <link rel="stylesheet" href="/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/z.css" rel="stylesheet">
    </head>
    <body>
        {% block preloader %}
      <div id="preloader">
          <div class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
              </svg>
          </div>
      </div>
        {% endblock %}

      <div id="main-wrapper">
        {% block nav %}
        {% endblock %}

        {% block header %}
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/">
                    <b class="logo-abbr"><img src="/images/logo.png" alt=""> </b>
                    <span class="logo-compact">嘉俊0</span>
                    <span class="brand-title">嘉俊 GMS</span>
                </a>
            </div>
        </div>
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" id="search" class="form-control" placeholder="搜索" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        {#
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge badge-pill gradient-1">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">3 条新消息</span>  
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-1">3</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="/images/avatar/1.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">李偏</div>
                                                    <div class="notification-timestamp">8 小时前 </div>
                                                    <div class="notification-text">我的工费好像不对啊！</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="/images/avatar/2.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">徐群</div>
                                                    <div class="notification-timestamp">8 小时前</div>
                                                    <div class="notification-text">交收明细发给你了。</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="/images/avatar/3.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">王约翰</div>
                                                    <div class="notification-timestamp">8 小时前</div>
                                                    <div class="notification-text">你明天上班么？</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="/images/avatar/4.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">毛玲丽</div>
                                                    <div class="notification-timestamp">8 小时前</div>
                                                    <div class="notification-text">哈楼！</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 个提醒</span>  
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">5</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">交金准备</h6>
                                                    <span class="notification-text">3 个小时后</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">文员小组会议</h6>
                                                    <span class="notification-text">4 个小时后</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">老板到公司</h6>
                                                    <span class="notification-text">1 天后</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">全体通知</h6>
                                                    <span class="notification-text">1 天后</span> 
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user"  data-toggle="dropdown">
                                <span>简体中文</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="javascript:void()">简体中文</a></li>
                                        <li><a href="javascript:void()">繁體中文</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        #}
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="/images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon-user"></i> <span>{{app.user.username}}</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-user"></i> <span>{{app.user.roles[0]}}</span></a>
                                        </li>
                                        {#
                                        <li>
                                            <a href="javascript:void()">
                                                <i class="icon-envelope-open"></i> <span>收件箱</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li>
                                        
                                        <hr class="my-2">
                                        <li>
                                            <a href="page-lock.html"><i class="icon-lock"></i> <span>锁屏</span></a>
                                        </li>
                                        #}
                                        <li><a href="/logout"><i class="icon-key"></i> <span>退出</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block sidebar %}
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label text-center">数据统计</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">图表</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{path('dashboard')}}">汇总</a></li>
                            <li><a href="{{path('dashboard_trans')}}">交收</a></li>
                            <li><a href="{{path('dashboard_wage')}}">费用</a></li>
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">明细</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="a">交收明细</a></li>
                            <li><a href="b">持单明细</a></li>
                            <li><a href="c">工费查询</a></li>
                            <li><a href="d">结存查询</a></li>
                        </ul>
                    </li>
                    <li class="nav-label text-center">业务流程</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-briefcase menu-icon"></i> <span class="nav-text">运作</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{path('main_index')}}">主单</a></li>
                            <li><a href="{{path('child_index')}}">子单</a></li>
                            <li><a href="{{path('ca_index')}}">文员交工匠</a></li>
                            <li><a href="{{path('ca_back')}}">文员收工匠</a></li>
                            <li><a href="{{path('stock_index')}}">入库</a></li>
                            <li><a href="{{path('stock_index')}}">出库</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i> <span class="nav-text">金原料</span>
                        </a>
                        <ul aria-expanded="false">
                        {#
                            <li><a href="{{path('gd_index')}}">加金入单</a></li>
                        #}
                            <li><a href="{{path('cgd_index')}}">文员加金入单</a></li>
                            <li><a href="{{path('cc_index')}}">文员间交金</a></li>
                            <li><a href="{{path('cc_got')}}">文员间收金</a></li>
                            <li><a href="{{path('gca_index')}}">文员发原料</a></li>
                            <li><a href="{{path('gac_index')}}">文员收原料</a></li>
                            <li><a href="{{path('gb_index')}}">加金入金箱</a></li>
                            <li><a href="{{path('sgb_index')}}">减金出金箱</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-basket-loaded menu-icon"></i> <span class="nav-text">石原料</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="e">子菜单1</a></li>
                            <li><a href="f">子菜单2</a></li>
                            <li><a href="g">子菜单3</a></li>
                        </ul>
                    </li>
                    <li class="nav-label text-center">资料维护</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">组织架构</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{path('division_index')}}">部门</a></li>
                            <li><a href="{{path('craft_index')}}">工艺科室</a></li>
                            <li><a href="{{path('team_index')}}">组别</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-people menu-icon"></i><span class="nav-text">人员</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{path('user_index')}}">文员</a></li>
                            <li><a href="{{path('artisan_index')}}">工匠</a></li>
                            <li><a href="{{path('staff_index')}}">员工管理</a></li>
                            <li><a href="{{path('stafftype_index')}}">员工性质</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-magic-wand menu-icon"></i><span class="nav-text">工艺</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{path('process_index')}}">工序</a></li>
                            <li><a href="{{path('model_index')}}">模号类型</a></li>
                            <li><a href="{{path('seq_index')}}">处理次序</a></li>
                            <li><a href="{{path('op_index')}}">操作类型</a></li>
                            <li><a href="{{path('position_index')}}">位置</a></li>
                            <li><a href="{{path('goldclass_index')}}">金类</a></li>
                            <li><a href="{{path('jewelry_index')}}">首饰类别</a></li>
                            <li><a href="{{path('jewelry_index')}}">珠宝类别</a></li>
                            <li><a href="{{path('prodtype_index')}}">货类</a></li>
                            <li><a href="{{path('line_index')}}">专线类型</a></li>
                            <li><a href="{{path('series_index')}}">产品系列</a></li>
                            <li><a href="{{path('embed_index')}}">镶嵌原料</a></li>
                            <li><a href="{{path('attach_index')}}">附件</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-puzzle menu-icon"></i><span class="nav-text">参数</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{path('wage_index')}}">工费</a></li>
                            <li><a href="{{path('lossrate_index')}}">耗率</a></li>
                            <li><a href="{{path('granule_index')}}">粒数</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-pin menu-icon"></i> <span class="nav-text">其它</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{path('doctype_index')}}">单据类型</a></li>
                            <li><a href="{{path('cotype_index')}}">合作方式</a></li>
                            <li><a href="{{path('branch_index')}}">发单分行</a></li>
                            <li><a href="{{path('factory_index')}}">工厂</a></li>
                            <li><a href="{{path('company_index')}}">公司</a></li>
                            <li><a href="{{path('addtype_index')}}">加金类型</a></li>
                            <li><a href="{{path('addreason_index')}}">加金原因</a></li>
                            <li><a href="{{path('subtracttype_index')}}">减金类型</a></li>
                            <li><a href="{{path('subtractreason_index')}}">减金原因</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}

        {% block body0 %}
        <div class="content-body">
        <div class="container-fluid mt-3">
        {% block body %}
        {% endblock %}
        </div>
        </div>
        {% endblock %}

        {% block footer %}
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; 2021 嘉俊 Designed & Developed by <a href="https://alz.ee">Z</a></p>
            </div>
        </div>
        {% endblock %}
      </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="/plugins/common/common.min.js"></script>
            <script src="/js/custom.min.js"></script>
            <script src="/js/settings.js"></script>
            <script src="/js/gleek.js"></script>
            <script src="/js/styleSwitcher.js"></script>
        {% endblock %}
        {% block javascripts1 %}
        {% endblock %}
        <script src="/js/xlsx.full.min.js"></script>
        <script src="/js/z.js"></script>
    </body>
</html>
