{% extends 'base.html.twig' %}

{% block title %}Seq index{% endblock %}

{% block body %}
    <h1>Seq index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seq in seqs %}
            <tr>
                <td>{{ seq.id }}</td>
                <td>{{ seq.name }}</td>
                <td>
                    <a href="{{ path('seq_show', {'id': seq.id}) }}">show</a>
                    <a href="{{ path('seq_edit', {'id': seq.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('seq_new') }}">Create new</a>
{% endblock %}
