{% extends 'base.html.twig' %}

{% block title %}Prodtype index{% endblock %}

{% block body %}
    <h1>{{'Prodtype index' | trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'Name' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for prodtype in prodtypes %}
            <tr>
                <td>{{ prodtype.id }}</td>
                <td>{{ prodtype.name }}</td>
                <td>
                    <a href="{{ path('prodtype_show', {'id': prodtype.id}) }}">{{'show' | trans}}</a>
                    <a href="{{ path('prodtype_edit', {'id': prodtype.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prodtype_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
