{% extends 'base.html.twig' %}

{% block title %}Prodtype index{% endblock %}

{% block body %}
    <h1>Prodtype index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prodtype in prodtypes %}
            <tr>
                <td>{{ prodtype.id }}</td>
                <td>{{ prodtype.name }}</td>
                <td>
                    <a href="{{ path('prodtype_show', {'id': prodtype.id}) }}">show</a>
                    <a href="{{ path('prodtype_edit', {'id': prodtype.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prodtype_new') }}">Create new</a>
{% endblock %}
