{% extends 'base.html.twig' %}

{% block title %}Prodtype{% endblock %}

{% block body %}
    <h1>{{'Prodtype' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ prodtype.id }}</td>
            </tr>
            <tr>
                <th>{{'Name' | trans}}</th>
                <td>{{ prodtype.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('prodtype_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('prodtype_edit', {'id': prodtype.id}) }}">{{'edit' | trans}}</a>

    {{ include('prodtype/_delete_form.html.twig') }}
{% endblock %}
