{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <h1>{{'Stock' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ stock.id }}</td>
            </tr>
            <tr>
                <th>{{'Date' | trans}}</th>
                <td>{{ stock.date ? stock.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('stock_index') }}">{{'back to list' | trans}}</a>

    <a class="btn btn-warning" href="{{ path('stock_edit', {'id': stock.id}) }}">{{'edit' | trans}}</a>

    {{ include('stock/_delete_form.html.twig') }}
{% endblock %}
