{% extends 'base.html.twig' %}

{% block title %}Edit Own{% endblock %}

{% block body %}
    <h1>{{'Edit Own' | trans}}</h1>

    {{ include('own/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('own_index') }}">{{'back to list' | trans}}</a>

    {{ include('own/_delete_form.html.twig') }}
{% endblock %}
