{% extends 'base.html.twig' %}

{% block title %}Own index{% endblock %}

{% block body %}
    <h1>{{'Own index' | trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'Id' | trans}}</th>
                <th>{{'Date' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for own in owns %}
            <tr>
                <td>{{ own.id }}</td>
                <td>{{ own.date ? own.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('own_show', {'id': own.id}) }}">{{'show' | trans}}</a>
                    <a href="{{ path('own_edit', {'id': own.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('own_new') }}">{{'Create new' | trans}}</a>
{% endblock %}
