{% extends 'base.html.twig' %}

{% block title %}Process index{% endblock %}

{% block body %}
    <h1>Process index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for process in processes %}
            <tr>
                <td>{{ process.id }}</td>
                <td>{{ process.name }}</td>
                <td>
                    <a href="{{ path('process_show', {'id': process.id}) }}">show</a>
                    <a href="{{ path('process_edit', {'id': process.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('process_new') }}">Create new</a>
{% endblock %}
