{% extends 'base.html.twig' %}

{% block title %}Jewelry{% endblock %}

{% block body %}
    <h1>{{'Jewelry' | trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'Id' | trans}}</th>
                <td>{{ jewelry.id }}</td>
            </tr>
            <tr>
                <th>{{'Name' | trans}}</th>
                <td>{{ jewelry.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jewelry_index') }}">{{'back to list' | trans}}</a>

    <a href="{{ path('jewelry_edit', {'id': jewelry.id}) }}">{{'edit' | trans}}</a>

    {{ include('jewelry/_delete_form.html.twig') }}
{% endblock %}
