{% extends 'base.html.twig' %}

{% block title %}{{ 'Artisan'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Artisan'|trans }}</h1>

  <div class="row mx-0 my-3">
    <div class="col"></div>
    <div class="col-auto">
      <a class="btn btn-success" href="{{ path('artisan_new') }}">{{'Create new' | trans}}</a>
      <a class="mx-2 btn btn-success" href="{{ path('main_import') }}">{{'Import' | trans}}</a>
      <button class="btn btn-danger" id="export">{{'export' | trans}}</button>
    </div>
  </div>

    <table class="table table-striped table-hover" id="artisan">
        <thead>
            <tr>
                <th>{{'id' | trans}}</th>
                <th>{{'Name' | trans}}</th>
                <th>{{'wn' | trans}}</th>
                <th>{{'actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for artisan in artisans %}
            <tr>
                <td>{{ artisan.id }}</td>
                <td>{{ artisan.name }}</td>
                <td class="wn">{{ artisan.wn }}</td>
                <td>
                    <button class="btn btn-primary write-card">写卡</button>
                    <a class="btn btn-primary" href="{{ path('artisan_show', {'id': artisan.id}) }}">{{'show' | trans}}</a>
                    <a class="btn btn-warning" href="{{ path('artisan_edit', {'id': artisan.id}) }}">{{'edit' | trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{'no records found' | trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<!-- Modal -->
<div class="modal fade" id="aModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">写卡成功</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        工号信息已成功写入卡片！
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts1 %}
<script src="/js/smartReader.js"></script>
<script src="/js/r.js"></script>
{% endblock %}
