{% extends 'base.html.twig' %}

{% block title %}Edit Cotype{% endblock %}

{% block body %}
    <h1>{{'Edit Cotype' | trans}}</h1>

    {{ include('cotype/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('cotype_index') }}">{{'back to list' | trans}}</a>

    {{ include('cotype/_delete_form.html.twig') }}
{% endblock %}
