{% extends 'base.html.twig' %}

{% block title %}Cotype index{% endblock %}

{% block body %}
    <h1>Cotype index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cotype in cotypes %}
            <tr>
                <td>{{ cotype.id }}</td>
                <td>{{ cotype.name }}</td>
                <td>
                    <a href="{{ path('cotype_show', {'id': cotype.id}) }}">show</a>
                    <a href="{{ path('cotype_edit', {'id': cotype.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cotype_new') }}">Create new</a>
{% endblock %}
